html {
    height: 100%;
}
body{
    background: url(../img/back.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    margin: 0;
}
main {
    position: fixed;
    width: 100%;
    height: 100%;
}
.main_page{
    width: 90%;
    height: 85%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 5%;
    border: #000000 2px solid;
    display: flex;
    flex-direction: column;
}

.main_page__content {
    width: 100%;
    height: 100%;
}

/* div logo */
.content__nav{
    width: auto;
    height: auto;
    background-color: #527CFA;
    opacity: 1 !important;
    border-bottom: #000000 2px solid;
    display: flex;
}
.logo_on_nav{
    margin: 1%;
    width: 13%;
}
.progname_nav{
    font-size: 150%;
    margin: 4%;
    color: #FFFFFF;
    text-shadow: #000 1px 0 2px;
}


/* div botó return llistes */
.content__lists{
    height: 92.65%;
    display: flex;
    flex-direction: column;
}

.lists__menu {
    display: flex;
    height: 7%;
}

.menu__button{
    margin: 1%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.button__image{
    height: 100%;
    width: 100%;
}

/* div llistes */
.lists__content {
    display: flex;
    justify-content: center;
    height: 90%;
}

/* llista primaria */
.list {
    width: 75%;
    height: 90%;
    background-color: #FFF8E0;
    display: flex;
    flex-direction: column;
}

/* header llista primaria */
.list__header{
    display: flex;
    justify-content: space-between;
    height: auto;
}
.header__text {
    font-size: 150%;
    margin-left: 2%;
}
.add_button__image {
    width: 8%;
    margin: 5%;
}

/* header add object */
.header__add_task {
    color: white;
    text-align: center;
    height: auto;
}
.add_task__input {
    width: 70%;
    padding: 1%;
    float: left;
}
.add_task__input::-webkit-input-placeholder {
    font-size: 100%;
}
.add_task__addBtn {
    padding: 3%;
    width: 21%;
    background: #d9d9d9;
    color: #555;
    float: left;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.add_task__addBtn:hover {
    background-color: #bbb;
}

/* div dels objectes */

ul {
    overflow: auto;
    width: 100%;
    height: 78%;
    margin: 0;
    padding: 0;
}
.list__myUL div li {
    cursor: pointer;
    position: relative;
    padding: 5%;
    transition: 0.2s;
    border-top: rgba(0,0,0,0.8) solid 1px;
    width: 75%;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.list__myUL div:last-child li{
    border-bottom: rgba(0,0,0,0.8) solid 1px;
}

/* Fem que els objectes senars tinguin un altre color */
.list__myUL div:nth-child(odd) li {
    background: #FFFBEE;
}

/* Color mes fosc per al hover */
.list__myUL div:hover li {
    background: #ddd;
}

/* Quan es marca com fet, s'afegeix un fons fosc i una línea al mitg */
.list__myUL div li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Afegeix un tick quan es marca com a fet */
.list__myUL div li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 25%;
    left: 85%;
    transform: rotate(45deg);
    height: 35%;
    width: 3%;
}

/* Estil de cada div item */
.item{
    height: auto;
    display: flex;
}
.close{
    margin: 1%;
    padding: 5%;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.edit {
    margin: 1%;
    padding: 5%;
}

.edit:hover {
    background-color: #2558ff;
    color: white;

}

/* Edit DIV name */
.edit_Bar{
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 25%;
    height: auto;
    z-index: 100;
}

@media only screen and (min-width: 481px) {
    .logo_on_nav{
        width: 10%;
    }
    .progname_nav{
        font-size: 280%;
        margin: 2%;
    }
    .button__image{
        height: 150%;
        width: 150%;
    }
    .header__text {
        font-size: 280%;
        margin-top: 2%;
    }
    .add_task__input::-webkit-input-placeholder {
        font-size: 50%;
    }
    .list__myUL div li {
        font-size: 150%;
        padding: 3%;
    }
    .edit {
        font-size: 150%;
        padding: 2%;
    }
    .close {
        font-size: 150%;
        padding: 2%;
    }
    .edit_Bar {
        width: 50%;
    }
}

@media only screen and (min-width: 769px) {
    #content__secondary_list {
        display: flex !important;
    }
    #content__primary_list {
        display: flex !important;
    }
    .content__nav {
        height: auto;
    }
    .logo_on_nav {
    }
    .progname_nav {
        margin: 0;
        font-size: 350%;
    }
    .lists__menu {
        display: none;
    }
    .lists__content {
        margin-top: 2%;
    }
    .list {
        width: 45%;
        margin: 1%;
        height: 80%;
    }
    .header__text {
        padding: 0;
        margin: 2%;
        font-size: 250%;
    }
    .add_button__image {
        width: 5%;
        margin: 3%;
    }
    .list__myUL div li {
        font-size: 150%;
        padding: 2%;
    }
    .edit{
        font-size: 150%;
        padding: 1%;
    }
    .close {
        font-size: 150%;
        padding: 1%;
    }
    .edit_Bar {
        top: 50%;
        left: 25%;
    }
}

@media only screen and (min-width: 1280px){
    .logo_on_nav {
        width: 6%;
        margin-top: 0.5%;
    }
    .progname_nav{
        font-size: 400%;
    }
    .lists__content {
        margin-top: 3%;
    }
    .header__text {
        font-size: 300%;
    }
    .add_task__input {
        width: 75%;
        font-size: 200%;
    }
    .add_task__addBtn {
        font-size: 150%;
        padding: 2%;
    }
    .list__myUL div li {
        font-size: 150%;
    }
    .edit {
        font-size: 150%;
        padding: 2%;
    }
    .close {
        font-size: 150%;
        padding: 2%;
    }
}